{% extends "base.html" %}

{% load i18n %}

{% load socialaccount %}

{% block head_title %}
  {% trans "Login" %}
{% endblock %}
{% block content %}
  <h1>
    {% trans "Login" %}
  </h1>
  <form method="post" action="{% url "account_login" %}">
    {% csrf_token %}
    {% if form.errors %}
      <div>
        <ul>
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              <li>
                {{ error }}
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div>
      <label for="id_login">
        {{ form.login.label }}
      </label>
      {{ form.login }}
    </div>
    <div>
      <label for="id_password">
        {{ form.password.label }}
      </label>
      {{ form.password }}
    </div>
    <button type="submit">
      {% trans "Login" %}
    </button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  <a href="/password/reset/">{% trans "Forgotten password?" %}</a>
  <form method="post" action="{% provider_login_url "google" %}">
    {% csrf_token %}
    <button type="submit"
            style="background-color: white;
                   color: #555;
                   border: 1px solid #ccc;
                   padding: 10px 20px;
                   border-radius: 4px">
      <img src="https://developers.google.com/identity/images/g-logo.png"
           alt="Google Logo"
           style="width:20px;
                  vertical-align:middle;
                  margin-right:10px">
      Sign in with Google
    </button>
  </form>
{% endblock %}
