{% extends "base.html" %}

{% load i18n %}

{% load allauth %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock %}
{% block content %}
  <h1>
    {% trans "Change Password" %}
  </h1>
  <form method="post" action="{% url "account_complete_password_reset" %}">
    {% csrf_token %}
    {% if form.errors %}
      <div>
        <ul>
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              <li>
                {{ error }}
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div>
      <label for="id_password1">
        {{ form.password1.label }}
      </label>
      {{ form.password1 }}
      {{ form.password1.help_text }}
    </div>
    <div>
      <label for="id_password2">
        {{ form.password2.label }}
      </label>
      {{ form.password2 }}
    </div>
    <button type="submit">
      {% trans "Change Password" %}
    </button>
    <button type="submit" form="logout-from-stage">
      {% trans "Cancel" %}
    </button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  <form id="logout-from-stage"
        method="post"
        action="{% url 'account_logout' %}">
    <input type="hidden" name="next" value="{% url 'account_login' %}">
    {% csrf_token %}
  </form>
{% endblock %}
